[submodule "software/concentrator/external/sx1302_hal/V2.1.0/sx1302_hal"]
	path = software/concentrator/external/sx1302_hal/V2.1.0/sx1302_hal
	url = https://github.com/Lora-net/sx1302_hal.git
[submodule "software/micropython/external/micropython/V1.23.0/micropython"]
	path = software/micropython/external/micropython/V1.23.0/micropython
	url = https://github.com/micropython/micropython.git
