/custom-gateway/build
/build/
/build_mpy_unix/
/external/basicstation/build-linux-testsim/
electronics/hekate_pcb/gerber
electronics/hekate_pcb/*backups
electronics/hekate_pcb/fp-info-cache

/ttn-config/*bak.*
/ttn-config/tc.*
electronics/hekate_pcb/~hekate_pcb.kicad_pcb.lck
electronics/hekate_pcb/~hekate_pcb.kicad_sch.lck
software/pico_dev/Password.cmake
